<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div th:remove="tag">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><th:block th:text="${title}"/></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="changeForm" th:object="${profCatalogFormModel}">
                        <div class="modal-body">
                            <div class="form-group mb-3">
                                <label class="bmd-label-floating">Curs</label>
                                <input type="text" class="form-control" th:value="${curs.name}" th:readonly="true">
                                <input type="hidden" class="form-control" th:name="course" th:value="${curs.id}">
                            </div>

                            <div class="form-group mb-3">
                                <label class="bmd-label-floating">Student</label>
                                <input type="text" class="form-control" th:value="${student.secondName + ' ' + student.firstName}" th:readonly="true">
                                <input type="hidden" class="form-control" th:name="student" th:value="${student.id}">
                            </div>

                            <th:block th:each="activitate : ${activitati}">
                                <div class="form-group mb-3">
                                    <label class="bmd-label-floating"><th:block th:text="${'Nota ' + activitate.name}"/></label>
                                    <input th:name="grade" type="text" class="form-control">
                                    <input th:name="activity" type="hidden" class="form-control" th:value="${activitate.id}">
                                </div>
                            </th:block>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary mr-2">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>