<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<div th:fragment="content(args)" th:remove="tag">
    <div class="container-fluid">
        <div id="modal"/>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Cursuri</h4>
                    </div>
                    <div class="card-body">
                        <form id="filter">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nume</label>
                                        <input type="text" class="form-control" name="name" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-2 my-auto text-center">
                                    <button class="btn btn-primary px-4" type="button" id="filterBtn">Filtreaza</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="coursesTable" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="professors" hidden>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Profesori</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="professorsTable" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="students" hidden>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Studenti</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="studentsTable" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer async>
            $(document).ready(function() {
                var $table = $('#coursesTable');
                var coursesTable = $table.DataTable({
                    "pageLength": 15,
                    "lengthChange": false,
                    "searching": false,
                    "select": false,
                    "ajax": {
                        url: "/courses/filter",
                        type: "POST",
                        data: function(d) {
                            return $("#filter").serialize();
                        },
                        dataSrc: function(json) {
                            if(json.data && json.data.length == 1) {
                                coursesTable.buttons(['.edit']).enable(true);
                                $("#professors").removeAttr("hidden");  
                            }
                            else {
                                coursesTable.buttons().enable(false);
                                $("#professors").attr("hidden", true);
                                $("#students").attr("hidden", true);
                            }

                            return json.data;
                        }
                    },
                    "columns": [
                        { "data": "id", "name": "id", "title": "ID", "width": "40", visible: false },
                        { "data": "name", "name": "name", "title": "Nume" },
                        { "data": "description", "name": "description", "title": "Descriere" },
                        { "data": "year", "name": "year", "title": "An" }
                    ],
                    dom:    "<'row'<'col-sm-6 dataTables_crud_buttons'><'col-sm-6 dataTables_buttons text-right'B>>" +
                            "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    buttons: [
                        
                    ]
                });

                coursesTable.on( 'draw.dt', function () {
                    if(professorsTable) {
                        var target = coursesTable.rows().data()[0];
                        if(coursesTable.rows().indexes().length == 1 && target) {
                            professorsTable.ajax.url("/courses/filter/professors/" + target['id']).load();
                        }
                    }
                } );

                new $.fn.dataTable.Buttons( coursesTable, {
                    buttons: [
                        { text: "Arata studenti", className: "btn btn-primary edit", action: function(e, dt, node, action) {showStudents(dt)}, attr: {disabled: true} }
                    ]
                } );

                coursesTable.buttons( 1, null ).container().prependTo(
                    $(coursesTable.table().container()).find(".dataTables_crud_buttons")
                );

                function showStudents(t) {
                    if(studentsTable) {
                        var target = coursesTable.rows().data()[0];
                        if(coursesTable.rows().indexes().length == 1 && target) {
                            studentsTable.ajax.url("/courses/filter/students/" + target['id']).load();
                        }
                    }
                    $("#students").removeAttr("hidden");  
                }

                //face call-ul de 2 ori
                var professorsTable = $("#professorsTable").DataTable({
                    "pageLength": 15,
                    "lengthChange": false,
                    "searching": false,
                    "select": false,
                    "ajax": {
                        url: "/courses/filter/professors/-1",
                        type: "POST"
                    },
                    "columns": [
                        { "data": "id", "name": "id", "title": "ID", "width": "40", visible: false },
                        { "data": "secondName", "name": "secondName", "title": "Nume" },
                        { "data": "firstName", "name": "firstName", "title": "Prenume" },
                    ],
                    dom:    "<'row'<'col-sm-6 dataTables_crud_buttons'><'col-sm-6 dataTables_buttons text-right'B>>" +
                            "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    buttons: [
                        
                    ]
                });

                new $.fn.dataTable.Buttons( professorsTable, {
                    buttons: [
                        { text: "Asigneaza", className: "btn btn-primary edit", action: function(e, dt, node, action) {getAssignForm(dt)} }
                    ]
                } );

                function getAssignForm(dt) {
                    var myUrl = "professors/assign/";
                    if(!coursesTable.rows().data()[0]) {
                        return;
                    }

                    myUrl += coursesTable.rows().data()[0]['name'];

                    $.ajax({
                        type: "GET",
                        url:  myUrl,
                        dataType: 'json',
                        success: function(response) {
                            console.log(response);
                            if(response.redirect) {
                                window.location.href = response.redirect;
                                return;
                            }

                            $("#modal").html(response.data);

                            $("#changeForm").validate({
                            errorClass: "has-error",
                            validClass: "has-success",
                                rules: {
                                    course: {
                                        required: true
                                    },
                                    professor: {
                                        required: true
                                    },
                                    activity: {
                                        required: true
                                    }
                                },
                                highlight: function(element, errorClass, validClass) {
                                    $(element).closest('.form-group').addClass(errorClass).removeClass(validClass);
                                },
                                unhighlight: function(element, errorClass, validClass) {
                                    $(element).closest('.form-group').addClass(validClass).removeClass(errorClass);
                                },
                                submitHandler: function (form) {
                                    var dataToSend = $("#changeForm").serialize();
                                    $.ajax({
                                        type: "POST",
                                        url: "/professors/assign",
                                        data: dataToSend,
                                        dataType: 'json',
                                        success: function(response) {
                                            console.log(response)
                                            if(response.redirect) {
                                                window.location.href = response.redirect;
                                                return;
                                            }

                                            if(response.success == true) {
                                                response.type = "success";
                                                response.message = "Adaugarea a fost facuta cu succes !";
                                                dt.ajax.reload();
                                            }
                                            else {
                                                response.message = "Adaugarea a esuat !";
                                                response.type = "danger";
                                            }

                                            $("#exampleModal").modal('hide');

                                            showNotification(response);
                                        },
                                        error: function(xhr, textStatus, errorThrown) {
                                            alert('Error! Status = ' + xhr.status);
                                        }
                                    });
                                    console.log($("#changeForm").serialize());
                                }
                            });

                            $("#exampleModal").modal();
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert('Error! Status = ' + xhr.status);
                        }
                    });
                }

                professorsTable.buttons( 1, null ).container().prependTo(
                    $(professorsTable.table().container()).find(".dataTables_crud_buttons")
                );

                var studentsTable = $("#studentsTable").DataTable({
                    "pageLength": 15,
                    "lengthChange": false,
                    "searching": false,
                    "select": false,
                    "ajax": {
                        url: "/courses/filter/students/-1",
                        type: "POST"
                    },
                    "columns": [
                        { "data": "id", "name": "id", "title": "ID", "width": "40", visible: false },
                        { "data": "secondName", "name": "secondName", "title": "Nume" },
                        { "data": "firstName", "name": "firstName", "title": "Prenume" },
                    ]
                });

                function showNotification(response) {
                    $.notify({
                        icon: "add_alert",
                        message: response.message

                    },{
                        type: response.type,
                        timer: 3000,
                        placement: {
                            from: "bottom",
                            align: "right"
                        }
                    });
                }

                $("#filterBtn").on("click", function (e) {
                    e.preventDefault();

                    coursesTable.ajax.reload(null, false);
                })
            });


        </script>
</div>
</html>