<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div th:remove="tag">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><th:block th:text="${title}"/></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="changeForm" autocomplete="off">
                        <div class="modal-body">
                            <div class="form-group mb-3">
                                <label class="bmd-label-floating" for="userTypeSelect">Tip utilizator</label>
                                <select name="type" class="form-control" id="userTypeSelect" th:disabled="${disabled==true}">
                                    <th:block th:each="userType : ${userTypes}">
                                        <option th:value="${userType.id}" th:text="${userType.name}" th:selected="${selectedValue!=null && userType.id==selectedValue}"></option>
                                    </th:block>
                                </select>
                                <input type="hidden" name="type" th:value="${selectedValue}" th:disabled="${disabled!=true}"/>
                            </div>
                            <th:block th:each="field : ${fields}">
                                <div class="form-group mb-3" th:hidden="${field.hidden}">
                                    <label class="bmd-label-floating"><th:block th:text="${field.label}"/></label>
                                    <input th:name="${field.name}" type="text" class="form-control" th:value="${field.value}" th:readonly="${field.readonly==true}">
                                </div>
                            </th:block>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary mr-2">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>