<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div th:remove="tag">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><th:block th:text="${title}"/></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <th:block th:each="member : ${members}">
                                        <li class="list-group-item" th:text="${member.secondName + ' ' + member.firstName}"></li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>

                        <div class="row mt-5" th:hidden="${suggestions.isEmpty()}">
                            <div class="col-md-12">
                                <label class="bmd-label-floating">Sugestii</label>
                                <ul class="list-group">
                                    <th:block th:each="member : ${suggestions}">
                                        <li class="list-group-item" th:text="${member.secondName + ' ' + member.firstName}"></li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>