<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div th:remove="tag">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><th:block th:text="${title}"/></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div id="myData" th:data-url="${url}"></div>
                    <div class="modal-body">
                        <form id="mesaj">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Mesaj</label>
                                        <input type="text" class="form-control" name="message" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3 my-auto text-right">
                                    <button class="btn btn-primary px-4" type="submit" id="submitMessageBtn">Adauga mesaj</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="messagesTable" class="table w-100"></table>
                                <script type="text/javascript">
                                    $(function () {
                                        var url = $('#myData').data('url');  
                                        var $table = $('#messagesTable');
                                        var messagesTable = $table.DataTable({
                                            "pageLength": 15,
                                            "lengthChange": false,
                                            "searching": false,
                                            "select": false,
                                            "ordering": false,
                                            "ajax": {
                                                url: url + "/get",
                                                type: "POST",
                                                cache: false,
                                                dataSrc: function(json) {

                                                    return json.data;
                                                }
                                            },
                                            "columns": [
                                                { "data": "sender", "name": "sender", "title": "Sender" },
                                                { "data": "message", "name": "message", "title": "Mesaj" },
                                            ],
                                            dom:    "<'row'<'col-sm-6 dataTables_crud_buttons d-flex flex-row'><'col-sm-6 dataTables_buttons text-right'B>>" +
                                                    "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                                                    "<'row'<'col-sm-12'tr>>" +
                                                    "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                                            buttons: [
                                                { text: "Refresh", className: "btn btn-primary", action: function(e, dt, node, action) {refreshData(dt);} }
                                            ]
                                        });

                                        function refreshData(dt) {
                                            dt.ajax.reload();
                                        }

                                        $("#mesaj").validate({
                                            errorClass: "has-error",
                                            validClass: "has-success",
                                            rules: {
                                                message: {
                                                    required: true
                                                }
                                            },
                                            highlight: function(element, errorClass, validClass) {
                                                $(element).closest('.form-group').addClass(errorClass).removeClass(validClass);
                                            },
                                            unhighlight: function(element, errorClass, validClass) {
                                                $(element).closest('.form-group').addClass(validClass).removeClass(errorClass);
                                            },
                                            submitHandler: function (form) {
                                                var dataToSend = $("#mesaj").serialize();
                                                console.log(dataToSend);
                                                $.ajax({
                                                    type: "POST",
                                                    url: url + "/set",
                                                    data: dataToSend,
                                                    dataType: 'json',
                                                    success: function(response) {
                                                        console.log(response)
                                                        if(response.redirect) {
                                                            window.location.href = response.redirect;
                                                            return;
                                                        }

                                                        if(response.success == true) {
                                                            response.type = "success";
                                                            response.message = "Adaugarea a fost facuta cu succes !";
                                                            messagesTable.ajax.reload(null, false);
                                                            $("#mesaj").find('input').val('');
                                                        }
                                                        else {
                                                            response.message = "Adaugarea a esuat !";
                                                            response.type = "danger";
                                                        }

                                                        showNotification(response);
                                                    },
                                                    error: function(xhr, textStatus, errorThrown) {
                                                        alert('Error! Status = ' + xhr.status);
                                                    }
                                                });
                                            }
                                        });

                                        function showNotification(response) {
                                            $.notify({
                                                icon: "add_alert",
                                                message: response.message

                                            },{
                                                type: response.type,
                                                timer: 3000,
                                                placement: {
                                                    from: "bottom",
                                                    align: "right"
                                                }
                                            });
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>   
                    
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>