<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<div th:fragment="content(args)" th:remove="tag">
    <div class="container-fluid">
        <div id="modal"/>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Note</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="gradesTable" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer async>
            $(document).ready(function() {
                var $table = $('#gradesTable');
                var table = $table.DataTable({
                    "pageLength": 15,
                    "lengthChange": false,
                    "searching": false,
                    "select": false,
                    "ajax": {
                        url: "/student/note",
                        type: "POST"
                    },
                    "columns": [
                        { "data": "courseName", "name": "courseName", "title": "Curs" },
                        { "data": "grade", "name": "grade", "title": "Nota" }
                    ],
                    dom:    "<'row'<'col-sm-6 dataTables_crud_buttons'><'col-sm-6 dataTables_buttons text-right'B>>" +
                            "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    buttons: [
                        { text: "Refresh", className: "btn btn-primary", action: function(e, dt, node, action) {refreshData(dt);} }
                    ]
                });

                function refreshData(dt) {
                    dt.ajax.reload();
                }

                function showNotification(response) {
                    $.notify({
                        icon: "add_alert",
                        message: response.message

                    },{
                        type: response.type,
                        timer: 3000,
                        placement: {
                            from: "bottom",
                            align: "right"
                        }
                    });
                }
            });
        </script>
</div>
</html>